body{
    font-family: sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

.memes {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-inline:auto;
    max-width: 1080px;
} 

.meme{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.meme-img{
    width: 100%;
    height: auto;
}