:root{
    --cor-primaria:var(#f7f7f7);
}

body{
    font-family: sans-serif;
    text-align: center;
    background-color: var(--cor-primaria);
}

.memes {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-inline:auto;
    max-width: 1080px;
} 

.meme{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.meme-botao{
    position: relative;
    border: none;
    cursor: pointer;
    display: block;
    overflow: hidden;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all 0.3s ease;


    .meme-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .meme-image--full{
        transition: all 0.3s ease;
    }
    .meme-image--cut{
        transition: all 0.3s ease;
    }

    /* & = .meme-botao nesse caso */

    &:hover{
        box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.5);
    
        .meme-image--full{
            filter: blur(10px);
        }
        .meme-image--cut{
            transform: scale(1.1);
        }
    }
}

.meme-img{
    width: 100%;
    height: auto;
}

.botao{
    padding: auto;
    background-color: var(--cor-primaria);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: azure;
}

.botao-meme-img{
    width: 150px;  
    height: auto;
}

@media (max-width: 480px){
    .memes{
        grid-template-columns: 1fr;
    }
}