:root{
    --cor-primaria:var(#f7f7f7);
}

body{
    font-family: sans-serif;
    text-align: center;
    background-color: var(--cor-primaria);
}

.memes {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-inline:auto;
    max-width: 1080px;
} 

.meme{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.meme-img{
    width: 100%;
    height: auto;
}

.botao{
    padding: auto;
    background-color: var(--cor-primaria);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: azure;
}

.botao-meme-img{
    width: 150px;  
    height: auto;
}

@media (max-width: 480px){
    .memes{
        grid-template-columns: 1fr;
    }
}